root { 
    display: block;}
            h7 {
                    color: #FF69B4;
                    font-family: verdana;
                    text-align: right;
                    background-color: #FFE4E1;
                    font-size: 75%;
                    border: 2px solid Violet;
                    padding: 30px;
                   }
                


